<h1>Books</h1>
<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>


<% @book.each do |book| %>

 <a>Title</a>
  <span>
      <%= link_to book.title, "/books/#{book.id}" %>
  </span>
 <a>Body</a>
 <span>
     <%= link_to book.body, "/books/#{book.id}" %>
 </span>
<% end %>
